/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Light.eot");
  src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Bold.eot");
  src: url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans.eot");
  src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block;
    max-width: 100%;
    height: auto; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  min-width: 320px;
  text-align: left;
  order: 1;
  -webkit-order: 1; }
  header .logo {
    padding: 35px 0 25px 0; }
    header .logo a span {
      font-size: 13px;
      color: #747688;
      margin-top: 5px;
      display: block; }
  header .search {
    padding: 32px 15px 0 0; }
    header .search .form-search {
      position: relative; }
      header .search .form-search input {
        border: 1px solid #b9b8bd;
        padding: 12px 15px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        position: relative;
        width: 100%; }
      header .search .form-search .btn-search {
        border: 0;
        width: 30px;
        height: 30px;
        background: url("../img/sprite-icons.png") 0 0;
        position: absolute;
        right: 0;
        top: 9px; }
  header .contact {
    padding: 35px 0;
    text-align: right; }
    header .contact .contact-number {
      font-size: 20px;
      font-weight: normal;
      padding: 5px 10px; }
      header .contact .contact-number a {
        color: #181616; }
    header .contact .support span {
      color: #cb944c;
      line-height: 17px;
      font-size: 14px; }
      header .contact .support span:last-child {
        color: #2b3056; }
  header .nav {
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
    padding: 10px 0; }
    header .nav .main-menu li {
      display: inline-block;
      position: relative; }
      header .nav .main-menu li a {
        margin: 0;
        padding: 10px 11px;
        display: block;
        color: #171717;
        text-transform: uppercase;
        font-weight: bold; }
      header .nav .main-menu li .category:before {
        content: '';
        width: 19px;
        height: 19px;
        background: url(../img/sprite-icons.png) -124px 0;
        margin-right: 7px;
        vertical-align: middle;
        display: inline-block; }
      header .nav .main-menu li .category:after {
        content: '';
        width: 15px;
        height: 14px;
        background: url(../img/sprite-icons.png) -97px 0;
        margin-left: 6px;
        vertical-align: middle;
        display: inline-block; }
      header .nav .main-menu li .toogle-menu {
        position: absolute;
        width: 260px;
        display: none;
        z-index: 999;
        top: 60px; }
        header .nav .main-menu li .toogle-menu .list-menu, header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu {
          border: 1px solid #dddfdf;
          background: #fff;
          border-radius: 2px;
          box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.3);
          padding: 15px 0; }
          header .nav .main-menu li .toogle-menu .list-menu li, header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu li {
            display: block; }
            header .nav .main-menu li .toogle-menu .list-menu li a, header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu li a {
              font-weight: normal;
              text-transform: inherit;
              padding: 10px 0 10px 37px;
              font-size: 15px;
              line-height: 21px; }
              header .nav .main-menu li .toogle-menu .list-menu li a:hover, header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu li a:hover {
                background: #e9e9ea; }
              header .nav .main-menu li .toogle-menu .list-menu li a:before, header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu li a:before {
                content: '';
                border: 1px solid #cf9c59;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                top: 16px;
                left: 18px;
                position: absolute; }
          header .nav .main-menu li .toogle-menu .list-menu .arrow-r a:after, header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu .arrow-r a:after {
            content: '';
            width: 15px;
            height: 12px;
            background: url(../img/sprite-icons.png) 47px 0;
            position: absolute;
            top: 15px;
            right: 20px;
            transform: rotate(-90deg); }
          header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu {
            width: 275px;
            position: absolute;
            top: 0;
            left: 261px;
            display: none; }
            header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu li strong {
              font-size: 16px;
              text-transform: uppercase;
              padding: 0 18px;
              margin: 10px 0 15px 0;
              display: block;
              color: #cb944c; }
            header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu li a:after {
              background: none; }
        header .nav .main-menu li .toogle-menu.expended {
          display: block; }
    header .nav .tools-box {
      padding: 7px 0 0 0;
      text-align: right; }
      header .nav .tools-box .basket .box {
        overflow: hidden;
        width: 26px;
        height: 26px;
        background: url(../img/sprite-icons.png) -65px 0;
        float: left; }
      header .nav .tools-box .basket .count {
        background: #cb944c;
        border-radius: 50%;
        width: 22px;
        height: 20px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        display: inline-block;
        margin: 2px 3px 0 0;
        line-height: 20px; }
      header .nav .tools-box .basket span {
        text-transform: uppercase;
        font-size: 13px;
        color: #747688;
        display: inline-block;
        font-weight: bold; }
      header .nav .tools-box .signin a {
        color: #747688;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase; }
        header .nav .tools-box .signin a:before {
          content: '';
          overflow: hidden;
          width: 28px;
          height: 23px;
          background: url(../img/sprite-icons.png) -34px 0;
          display: inline-block;
          vertical-align: middle; }

.list-menu li:hover > .sub-list-menu, header .nav .main-menu li .toogle-menu .list-menu .arrow-r .sub-list-menu li:hover > .sub-list-menu {
  display: block !important; }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-size: 32px;
  line-height: 37px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  margin: 20px 0; }
  .content .wrapper {
    padding: 0; }
  .content .slider .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 35px;
    height: 130px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #c9a45f; }
  .content .slider .slick-prev {
    left: 0;
    z-index: 99; }
    .content .slider .slick-prev:before {
      content: '';
      width: 18px;
      height: 30px;
      background: url(../img/slick-arrows.png) 0 0;
      display: inline-block; }
  .content .slider .slick-next {
    right: 0;
    z-index: 99; }
    .content .slider .slick-next:before {
      content: '';
      width: 18px;
      height: 30px;
      background: url(../img/slick-arrows.png) 18px 0;
      display: inline-block; }
  .content .slider .description {
    position: absolute;
    top: 80px;
    width: 550px;
    margin-left: 60px;
    padding: 3px 30px;
    background: rgba(210, 166, 107, 0.9); }
    .content .slider .description p {
      font-size: 40px;
      color: #fff;
      line-height: 45px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100hv;
    width: 100%;
    display: flex;
    flex-direction: column; } }
.large-1 {
  width: 8.333%;
  float: left; }

.large-2 {
  width: 16.666%;
  float: left; }

.large-3 {
  width: 24.999%;
  float: left; }

.large-4 {
  width: 33.332%;
  float: left; }

.large-5 {
  width: 41.665%;
  float: left; }

.large-6 {
  width: 49.998%;
  float: left; }

.large-7 {
  width: 58.331%;
  float: left; }

.large-8 {
  width: 66.664%;
  float: left; }

.large-9 {
  width: 74.997%;
  float: left; }

.large-10 {
  width: 83.33%;
  float: left; }

.large-11 {
  width: 91.663%;
  float: left; }

.large-12 {
  width: 99.996%;
  float: left; }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 1024px; }

  .standart-1 {
    width: 8.333%;
    float: left; }

  .standart-2 {
    width: 16.666%;
    float: left; }

  .standart-3 {
    width: 24.999%;
    float: left; }

  .standart-4 {
    width: 33.332%;
    float: left; }

  .standart-5 {
    width: 41.665%;
    float: left; }

  .standart-6 {
    width: 49.998%;
    float: left; }

  .standart-7 {
    width: 58.331%;
    float: left; }

  .standart-8 {
    width: 66.664%;
    float: left; }

  .standart-9 {
    width: 74.997%;
    float: left; }

  .standart-10 {
    width: 83.33%;
    float: left; }

  .standart-11 {
    width: 91.663%;
    float: left; }

  .standart-12 {
    width: 99.996%;
    float: left; } }
@media screen and (max-width: 991px) {
  .wrapper {
    width: 750px; }

  .medium-1 {
    width: 8.333%;
    float: left; }

  .medium-2 {
    width: 16.666%;
    float: left; }

  .medium-3 {
    width: 24.999%;
    float: left; }

  .medium-4 {
    width: 33.332%;
    float: left; }

  .medium-5 {
    width: 41.665%;
    float: left; }

  .medium-6 {
    width: 49.998%;
    float: left; }

  .medium-7 {
    width: 58.331%;
    float: left; }

  .medium-8 {
    width: 66.664%;
    float: left; }

  .medium-9 {
    width: 74.997%;
    float: left; }

  .medium-10 {
    width: 83.33%;
    float: left; }

  .medium-11 {
    width: 91.663%;
    float: left; }

  .medium-12 {
    width: 99.996%;
    float: left; } }
@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%; }

  .small-1 {
    width: 8.333%;
    float: left; }

  .small-2 {
    width: 16.666%;
    float: left; }

  .small-3 {
    width: 24.999%;
    float: left; }

  .small-4 {
    width: 33.332%;
    float: left; }

  .small-5 {
    width: 41.665%;
    float: left; }

  .small-6 {
    width: 49.998%;
    float: left; }

  .small-7 {
    width: 58.331%;
    float: left; }

  .small-8 {
    width: 66.664%;
    float: left; }

  .small-9 {
    width: 74.997%;
    float: left; }

  .small-10 {
    width: 83.33%;
    float: left; }

  .small-11 {
    width: 91.663%;
    float: left; }

  .small-12 {
    width: 99.996%;
    float: left; } }
@media screen and (max-width: 480px) {
  .xsmall-1 {
    width: 8.333%;
    float: left; }

  .xsmall-2 {
    width: 16.666%;
    float: left; }

  .xsmall-3 {
    width: 24.999%;
    float: left; }

  .xsmall-4 {
    width: 33.332%;
    float: left; }

  .xsmall-5 {
    width: 41.665%;
    float: left; }

  .xsmall-6 {
    width: 49.998%;
    float: left; }

  .xsmall-7 {
    width: 58.331%;
    float: left; }

  .xsmall-8 {
    width: 66.664%;
    float: left; }

  .xsmall-9 {
    width: 74.997%;
    float: left; }

  .xsmall-10 {
    width: 83.33%;
    float: left; }

  .xsmall-11 {
    width: 91.663%;
    float: left; }

  .xsmall-12 {
    width: 99.996%;
    float: left; } }

/*# sourceMappingURL=style.css.map */
