
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
	margin: 20px 0;
	//background: #fff000;
	.wrapper {
		padding: 0;
	}

	.slider {
		.slick-arrow {
			font-size: 0;
			line-height: 0;
			position: absolute;
			top: 50%;
			display: block;
			width: 35px;
			height: 130px;
			padding: 0;
			-webkit-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
			cursor: pointer;
			color: transparent;
			border: none;
			outline: none;
			background: #c9a45f;
		}
		.slick-prev {
			left: 0;
			z-index: 99;
			&:before {
				content: '';
				width: 18px;
				height: 30px;
				background: url(../img/slick-arrows.png) 0 0;
				display: inline-block;
			}
		}
		.slick-next {
			right: 0;
			z-index: 99;
			&:before {
				content: '';
				width: 18px;
				height: 30px;
				background: url(../img/slick-arrows.png) 18px 0;
				display: inline-block;
			}
		}
		.description {
			position: absolute;
			top: 80px;

			p {
				font-size: 40px;
				color: #fff;
				line-height: 45px;
				width: 550px;
				margin-left: 60px;
				padding: 17px 30px;
				background: rgba(210, 166, 107, 0.9);
			}
		}

		.slick-dots {
			position: absolute;
			bottom: -50px;
			display: block;
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: center;

			li {
				position: relative;
				display: inline-block;
				width: 20px;
				height: 20px;
				margin: 0 5px;
				padding: 0;
				cursor: pointer;
				&.slick-active {
					button {
						&:before {
							opacity: 1;
							background: #cb944c;
						}
					}
				}

				button {
					font-size: 0;
					line-height: 0;
					display: block;
					width: 20px;
					height: 20px;
					padding: 5px;
					cursor: pointer;
					color: transparent;
					border: 0;
					outline: none;
					background: transparent;

					&:before {
						font-family: slick;
						font-size: 6px;
						line-height: 20px;
						position: absolute;
						top: 0;
						left: 0;
						width: 13px;
						height: 13px;
						content: "";
						text-align: center;
						background: #eedcc4;
						border-radius: 50%;
						color: black;
						-webkit-font-smoothing: antialiased;
					}
				}
			}
		}
	}
}








@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}



